@import "/css/reset.css";
@import '/css/footer.css';
@import '/css/header.css';


*{
    box-sizing: border-box;
    color: #19191C;
}
body{
    font-family: 'Roboto', sans-serif; 
}
h1, h2{
    font: 700 58px 'Inter'
}
p{
    font: 400 18px 'Inter'
}
.offer{
    background-color: #EFEFF2;

}
.learn{
    background-color: #19191C;
    color: #FBFBFC;
}
.discover{
    background-color: #FBFBFC;
}
.find-program{
    background-color: #DEEFE4;
}